<p>{{collection_id}}</p>
<p>{{collection_status}}</p>
<p>{{external_reference}}</p>
<p>{{payment_type}}</p>
<p>{{preference_id}}</p>
<p>{{site_id}}</p>
<p>{{processing_mode}}</p>
<p>{{merchant_account_id}}</p>